*{
    padding: 0;
    margin: 0;
   
}
body{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    min-height: 450px;
    width: 80%;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 59px;
}
.rightbox{
    background-color: rgb(0, 0, 255);
    border-radius: 34px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

}
.header{
    font-size: 1.5rem;
}
.percentage{
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
.hundred{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.great{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
}
.footer{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
    margin: 0px 40px;
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    min-width: 180px;
    background-color: rgba(173, 216, 230, 0.158);
    border-radius: 90px;
    cursor: pointer;
}
.leftbox{
    /* height: 445px; */
    width: 100%;
    background-color: lightgoldenrodyellow;
    position: relative;
    z-index: 1;
    right: 18px;
    top: 4px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;}

    .footer2{
        font-size: 1.3rem;
        display: flex;
        justify-content: flex-start;
        width: 85%;
        color: blue;

    }
    .common{
        font-size: 1rem;
        margin: 10px;
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;
        
    }1
    .aaa{
        font-size: ;
        height: 100px;
        width: 200px;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .aaa:hover{
        background-color: blue;
        border-radius: 10px;
        cursor: pointer;
        height: 50px;
        width: 150px;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .common:hover{
        background-color: blue;
        border-radius: 10px;
        cursor: pointer;
    }
    @media (max-width: 800px)
    {
        .container{
            grid-template-columns: repeat(1,1fr);
            height: 900px;

        }
    }
    @media (max-width: 800px)
    {
    .leftbox{
        border-top-left-radius: 34px;
        border-bottom-left-radius: 34px;
        position: relative;
        right:0px;
        top: 0px;
    }
    }
    

   
